@import "tailwindcss";

:root {
  --background: #121214;
  --foreground: #171717;

}

@theme inline {
  --color-bg-secondary: #1A1A1E;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --popover: #1A1A1E;
  --popover-foreground: #FFFFFF;
  --color-secondary:#242429
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
